body {
  font-family: Arial, sans-serif;
  background-color: aqua;
  display: flex; /* display: contents 하니깐 맨 좌측상단에 딱 붙어버린다./*/
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 전체 높이 */
  margin: 0;
} 

.login-container {
  background-color: blueviolet;
  border-radius: 40px;
  padding:40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 400px; 
      /* padding 안에서 가로높이를 조절하는게 width 이다. */
}


.login-container h1 {
margin-bottom: 0px; /* 현재 padding 부분에서 세로로 높이가 변한다. */
color: tomato; /* 로그인창 이름색상 변경됨. */

}

.login-container input {
/* padding: 10px; 로그인창이 부풀어 오른다 */
/* background-color: burlywood; 아이디 비번 입력란 색상이 변한다; */
/* border: 20px 이건 안하는게 낫다. 아이디 비번 칸 경계선이 없어지면서 겹친다 */
/* border-radius: 10px; 아이디 비번 입력란 모서리가 둥글어진다; */
/* cursor: auto; 마우스 커서 올려놨을때 마우스 모양 바뀌게 설정. */

width: 100%;  /* 부모 width에 꽉 차게 */
  max-width: 300px; /* 최대 너비 제한 */
  padding: 10px;
  border-radius: 10px;
  cursor: text; /* 텍스트 입력창임을 알리는 커서로 변경 */
  box-sizing: border-box; /* padding과 border가 width안에 포함되도록 */
  /*위의 주석을 처리한 다음, 다시 지피티로 가져와봤는데 뭐가뭔지 잘 모르겠다. 나중에 실험해보자. */
} 


html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden; /* 스크롤바가 생기는 것을 방지 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  /* 위 코드는 라이브 서버로 열었을때 브라우저 창 크기를 조절할때 안바뀌게끔 하기위한 것이다. 
지피티 사용함*/
} 