body {
  font-family: Arial, sans-serif;
  background-color: aqua;
  display: flex; /* display: contents 하니깐 맨 좌측상단에 딱 붙어버린다./*/
  justify-content: center;
  align-items: center;
  
} 

.login-container {
  background-color: blueviolet;
  border-radius: 40px;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 400px; 
      /* padding 안에서 가로높이를 조절하는게 width 이다. */
}


.login-container h1 {
margin-bottom: 0px; /* 현재 padding 부분에서 세로로 높이가 변한다. */
color: tomato; /* 로그인창 이름색상 변경됨. */

}

.login-container input {
padding: 10px; /* 로그인창이 부풀어 오른다 */
/* background-color: burlywood; 아이디 비번 입력란 색상이 변한다; */
/* border: 20px 이건 안하는게 낫다. 아이디 비번 칸 경계선이 없어지면서 겹친다 */
border-radius: 10px; /* 아이디 비번 입력란 모서리가 둥글어진다; */
cursor: context-menu; /* 마우스 커서 올려놨을때 마우스 모양 바뀌게 설정. */
}